{% extends "note_base.html" %}

{% load static %}
{% load i18n %}

{% block ng_app %}base.app.list{% endblock %}

{% block content %}
<ul>
    {% for note in note_list %}
        <li><a href="{% url 'notes:detail' note.id %}">{{ note.title }}</a></li>
    {% empty %}
        <li>{% trans "No notes yet" %}</li>
    {% endfor %}
</ul>

{% if request.user.is_authenticated %}
    <div id="create_note"><a href="{% url 'notes:create' %}">{% trans "Create note" %}</a></div>
{% else %}
{% endif %}

{% endblock %}

