{% extends "note_base.html" %}

{% load i18n %}
{% load static %}

{% block head_stylesheets_extra %}
    {{ form.media.css }}

{% endblock %}

{% block head_scripts_extra %}
    {{ form.media.js }}
{% endblock%}


{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {% for field in form %}
        <p><label for={{ field.id }}>{{ field.label }}</label></p>

        {{ field }}
    {% endfor %}

    {% trans "<p>Press <strong>F11</strong> when cursor is in the editor to
    toggle full screen editing. <strong>Esc</strong> can also be used
    to <i>exit</i> full screen editing.</p>" %}
    <button type="submit">{% trans "Save" %}</button>
</form>

<h3>{% trans "About reStructuredText" %}</h3>
<ul>
    <li><a href="http://docutils.sourceforge.net/docs/user/rst/quickref.html" class="navbar-brand">Quick reStructuredText</a></li>
</ul>


{% endblock %}



{% block body_script_bottom %}
  <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("id_text"), {
        lineNumbers: true,
        extraKeys: {
          "F11": function(cm) {
            cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          },
          "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          }
        }
      });
      editor.on('change', function(cm){
        document.getElementById("id_text").value = cm.getValue();
      });
  </script>
{% endblock %}