{% extends "note_base.html" %}

{% load staticfiles %}

{% block head_stylesheets_extra %}
    {{ form.media.css }}
    <style>
        #quickref {
        width: 100%;
        height: 350px;
        }
    </style>

{% endblock %}

{% block head_scripts_extra %}
    {{ form.media.js }}
{% endblock%}


{% block content %}
<form method="post" class="form">
    {% csrf_token %}
    {{ form }}
     <button type="submit">Save</button>
</form>
<iframe id="quickref" src="http://docutils.sourceforge.net/docs/user/rst/quickref.html">
</iframe>
{% endblock %}

{% block body_script_bottom %}
  <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("id_text"), {
        lineNumbers: true
      });
      editor.on('change', function(cm){
        document.getElementById("id_text").value = cm.getValue();
      });
  </script>
{% endblock %}