{% extends "note_base.html" %}

{% block ng_app %}base.app.list{% endblock %}

{% block content %}
<ul>
    {% for note in note_list %}
        <li><a href="{% url 'base:detail' note.id %}">{{ note.title }}</a></li>
    {% empty %}
        <li>No notes yet</li>
    {% endfor %}
</ul>

<div id="create_note"><a href="{% url 'base:create' %}">Create note</a></div>

<div class="panel" ng-repeat="ngnote in notes">
    <div class="panel-heading clearfix">
        {% block note_header %}
        {% verbatim %}
        <h3 class="panel-title">{{ ngnote.title }} <small>{{ ngnote.user.username }}</small></h3>
        {% endverbatim %}
        {% endblock note_header  %}
    </div>
        {% verbatim %}
        <p class="well">{{ ngnote.annotation }}</p>
        {% endverbatim %}
</div>

{% endblock %}

